/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: #2D5BE3;
$font-size: 15px;
$color: #4e595d;
$font_family: 'Hiragino Kaku Gothic Pro', 'Helvetica Neue', Helvetica, Meiryo, serif;
$grid-row-cell-selected-background-color: #DCEDC8;
$body: #efeff4;



